<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %} Моя первая HEAD страница {% endblock %}
    </title>
</head>
<body>
{% block header %}
{% endblock %}

{% block menu %}
    <nav>
    <a href="{{ url_for('index') }}">Одежда </a>
    <a href="{{ url_for('about') }}">Обувь</a>
    <a href="{{ url_for('contact') }}">Куртка</a>
    </nav>
{% endblock %}

{% block content %}
 <p>
        Привет, мир!
    </p>
{% endblock %}

{% block footer %}
    Это подвал
{% endblock %}
</body>
</html>